



/***********************************************************************************************/
/* Button */
/***********************************************************************************************/
.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	background-color: #0066FF ;
	font-size: 12px;
	padding: 1em;
	display: none;
}

.go-top:hover {
	background-color: #000000;
}